.dropdown .dropdown-menu {
    left: 39px !important;
    width:70% !important;
}
.dropdown .dropdown-menu .dropdown-item {
    margin-left: 36px !important;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    margin-left: 36px !important;
    width:70%;
}

.text-white {
    color: #fff;
}