.dropdown .dropdown-menu {
    left: 64px !important;
}
.dropdown .dropdown-menu .dropdown-item {
    margin-left: 13px !important;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    width:85%;
}

.text-white {
    color: #fff;
}